:host {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  font-size: 1.6em;
  text-align: center;
  margin: 20px 0;
}

section header {
  font-size: 1.3em;
}

mat-tab-group {
  text-align: center;

  mat-form-field {
    margin: 20px 0;
    width: 400px;
    max-width: 100%;
  }
}

.buttons {
  text-align: right;
  padding: 20px;

  button {
    margin-left: 10px;
  }
}
