@use '@angular/material' as mat;

:host {
  --hero-size: min(350px, 50vh);
}

.hero {
  height: var(--hero-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
  font-size: 1.3rem;

  strong {
    color: var(--mat-sys-primary);
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  a {
    margin: 10px;
    width: 240px;
  }
}

.columns {
  --toolbar-height: var(--mat-toolbar-standard-height, 64px);
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - var(--toolbar-height) - var(--hero-size));

  & > * {
    flex-basis: 50%;
  }
  header {
    font-size: 1.75em;
    font-weight: bold;
    padding: 20px 0;
  }

  @media (max-width: 599px) {
    flex-wrap: wrap;
    --toolbar-height: var(--mat-toolbar-mobile-height, 56px);

    & > * {
      flex-basis: 100%;
    }
  }

  .rdf {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    --old-primary: var(--mat-sys-primary);
    --old-on-primary: var(--mat-sys-on-primary);

    button,
    a {
      --mat-sys-on-primary: var(--old-primary);
      --mat-sys-primary: var(--old-on-primary);
      // @include mat.button-overrides(
      //   (
      //     filled-container-color: var(--mat-sys-on-primary),
      //   )
      // );
      // color: var(--mat-sys-primary);
    }
  }
}
