header {
  font-size: 1.6em;
  text-align: center;
  margin: 20px 0;
}

app-diagram {
  margin: 10px auto;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background: var(--mat-sys-surface);
  position: fixed;
  bottom: 0;
  left: 0;
}
