header {
  font-size: 1.6em;
  text-align: center;
  margin: 20px 0;
}

app-diagram {
  margin: 10px auto;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  width: 100%;
  flex-wrap: wrap;
}
