mat-form-field {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: auto;
}

mat-slide-toggle {
  max-width: 100%;
  width: 490px;
  display: block;
  margin: 20px auto;
}

app-prefixes {
  display: block;
  margin: 20px auto;
}
