.prefix-container {
  display: flex;
  margin-bottom: 30px;
  width: fit-content;
  max-width: 100%;
  margin: auto;

  .textboxes {
    min-width: 0;
  }

  button {
    margin-top: 9px;
  }
}

.add-prefix {
  display: block;
  margin: 0 auto;
}

mat-form-field {
  width: 400px;
  max-width: 100%;
  margin-right: 10px;
}

header {
  font-size: 1.2em;
  text-align: center;
  margin: 20px 0;
}

p {
  font-size: var(--mat-sys-body-medium-size);
  text-align: center;
}
